
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Content/Side-Bar-CSS.css" rel="stylesheet" />
}
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle=offcanvas]').click(function () {
            $('.row-offcanvas').toggleClass('active');
        });
    });
</script>
<br />
<div class="row-offcanvas row-offcanvas-left" style="background-image:url(~/Images/bgwood.jpg)">
    <div id="sidebar" class="sidebar-offcanvas">
        <div class="col-md-12">
            <h3>About Us</h3>
            <ul class="nav nav-pills nav-stacked" id="sidelinks">
                <li><a href="#main">Who We Are?</a></li>
                <li><a href="#ourcustomers">Our Customers</a></li>
                <li><a href="#whatwecreated">What We Created</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div id="ourcustomers" class="container-fluid text-center bg-grey" style="width:auto">
            <h2>Who We Are?</h2>
            <p>
                Welcome to StuffWorks!!!
                We are still developing
            </p>
        </div>
    </div>
    <div class="row">
        @*Customer section*@
        <div id="ourcustomers" class="container-fluid text-center" style="width:auto">
            <h2>What our customers say</h2>
            <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <h4>"I am so happy with the product!"<br><span style="font-style:normal;">Vamshi Krishna</span></h4>
                    </div>
                    <div class="item">
                        <h4>"Thanks for recycling!!!"<br><span style="font-style:normal;">Shridhar Rao</span></h4>
                    </div>
                    <div class="item">
                        <h4>"Correct order and on time delivery...!"<br><span style="font-style:normal;">Shekar G</span></h4>
                    </div>
                    <div class="item">
                        <h4>"I appreciate Donating to poor people!"<br><span style="font-style:normal;">Sandeep kishore</span></h4>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        @*What we Created*@
        <div id="whatwecreated" class="container-fluid text-center bg-grey" style="width:auto">
            <h2>What we have created</h2><br>
            <div class="row text-center slideanim">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="~/Images/customerstatschild.jpg" alt="customerstatschild" style="width:700px; height:200px">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="~/Images/customerstats.jpg" alt="customerstats" style="width:700px; height:200px">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="~/Images/letscelebrate1.jpg" alt="wewantyou" style="width:700px; height:200px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

