
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/Social.css" rel="stylesheet" />
}
<br />
<div class=" row">
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d243642.9477175373!2d78.4808171!3d17.4155757!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1499552405518" width="1140" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<br />
<div class=" row">
    <div class="col-md-5 col-sm-12">
        <p><strong>Address:</strong></p>
        <p>Contact Us and we'll get back to you within 24 hours.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Hyderabad, India</p>
    </div>
    <div class="col-md-4 col-sm-12">
        <div style="padding-left:20px">
            <p><strong>Email:</strong></p>
            <p><span class="glyphicon glyphicon-envelope"></span> adminstuffworks@gmail.com</p>
            <p><strong>Phone:</strong></p>
            <p><span class="glyphicon glyphicon-phone"></span> XXX-XXX-XXXX</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="text-center">
            <p><strong>Social:</strong></p>
            <p>
                <a class="btn btn-primary social-login-btn social-facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="btn btn-primary social-login-btn social-twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
            </p>
            <p>
                <a class="btn btn-primary social-login-btn social-linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a class="btn btn-primary social-login-btn social-google" href="https://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
            </p>
        </div>
    </div>
</div>

